.features-section {
    background-color: var(--dark-background);
    padding-bottom: 3.875rem;

    .features {
        &.-blocks {
            padding: 0 auto;
        }

        .features-blocks {
            .features-icons {
                width: 11%;
            }
            &:nth-child(3) {
                .features-icons {
                    width: 15%;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .features-section {
        .features {
            .features-blocks {
                .features-icons {
                    width: 15%;
                }

                &:nth-child(3) {
                    .features-icons {
                        width: 19%;
                    }
                }
            }
        }
    }
}
