.features-section {
    background-color: var(--dark-background);
    padding-bottom: 3.875rem;

    .features {
        &.-blocks {
            padding: 0 auto;
        }

        .features-blocks {
            .features-icons {
                width: 10%;
            }

            &:nth-child(4) {
                .features-icons {
                    width: 12%;
                }
            }
        }
    }
}
