.hero-section {
    background-color: var(--dark-background);
    div {
        .hero-text {
            padding: 3.5625rem;
        }

        .buttons {
            padding-bottom: 3.5625rem;

            .try-btn {
                background-color: var(--button-color);
            }

            .learn-btn {
                border: 1px solid #fff;
            }
        }

        .img-wrapper {
            &::after {
                content: '';
                position: absolute;
                inset: 0;

                background: linear-gradient(to bottom, #1e1e1e00, #0e0e0e);
                pointer-events: none;
            }
        }
    }
}
