.hero-section {
    background-color: var(--dark-background);

    .buttons {
        .try-btn {
            background-color: var(--button-color);
        }

        .learn-btn {
            border: 1px solid #fff;
        }
    }

    .img-wrapper {
        padding-top: 3.5625rem;

        &::after {
            content: '';
            position: absolute;
            inset: 0;

            background: linear-gradient(to bottom, #1e1e1e00, #0e0e0e);
            pointer-events: none;
        }
    }
}

@media (min-width: 1024px) {
    .hero-texts {
        padding: 5.3125rem 26.5625rem;
    }
}
