.navbar-section {
    background-color: var(--dark-background);

    nav {
        .logo-img {
            width: 40%;
            padding-left: 1rem;
        }

        div {
            .login-button {
                font-size: 0.875rem;
                border: 1px solid #fff;
                padding: 0.425rem 2rem;
                text-align: center;
            }

            .menu-img {
                width: 30%;
            }
        }
    }
}

@media (min-width: 1024px) {
    .navbar-section {
        nav {
            .logo-img {
                width: unset;
                padding-left: 0;
            }
        }
    }
}
