.navbar-section {
    background-color: var(--dark-background);

    nav {
        padding: 1rem 0.5rem;

        img {
            width: 35%;
            padding-left: 1rem;
        }

        div {
            align-items: center;

            .login-button {
                font-size: 0.875rem;
                border: 1px solid #fff;
                padding: 0.425rem 2rem;
                text-align: center;
            }

            img {
                width: 30%;
            }
        }
    }
}
