.partners-section {
    background-color: var(--dark-background);
    padding-bottom: 3.125rem;

    .partners-texts,
    .partners-logos {
        padding-bottom: 3.125rem;
    }

    .all-partners-btn {
        border: 1px solid #fff;
        padding: 0.843rem 2.5rem;
    }
}
